<div class="col-xs-4 col-md-5">
    <hr class="head-divider divider-left">
</div>
<div class="col-xs-4 col-md-2 jacob-head">
    <img src="/img/human.svg" class="other-head">
</div>
<div class="col-xs-4 col-md-5">
    <hr class="head-divider divider-right">
</div>
<div class="col-xs-12 col-md-10 col-lg-8 col-xl-8">
    <h2 class="">ALWAYS LEARNING</h2>
    <p class="subtitle">I make time to learn new technologies and design techniques. Apart from my collection of books, I make use of the resources available online.</p>
</div>
<div class="col-xs-12 col-sm-6 learn-section">
    <h3>Design Practices</h3>
    <p>I am an active member of the <a href="https://www.interaction-design.org/jacob_amador" target="_blank">Interaction Design Foundation</a>. Their articles and courses are how I stay up to date with HCI and UX practices.</p>
    <a href="https://www.interaction-design.org/jacob_amador" target="_blank" class="img-link-wrap center-block ixd-img">
        <img src="/img/ixd_org.png" alt="Jacob Amador's Certificate of Membership to Interaction-Design.org" title="Visit my Interaction-Design.org Profile" class="">
    </a>
</div>
<div class="col-xs-12 col-sm-6 learn-section">
    <h3>Coding Fundamentals</h3>
    <p>I like to stay sharp with my coding skills. I frequent various learn-to-code sites, but my favorite is <a target="_blank" href="https://www.codeschool.com/users/568747">Code School</a>. Below are some of the badges I have earned.</p>
    <div ng-controller="BadgesCtrl">
        <div ng-repeat="badge in badges">
            <figure class="badge-container {{'badge-'+$index}}" ng-class="{'active-badge':showB[{{$index}}]}">
                <img ng-src="{{badge.image}}" class="badge-img thumbnail img-responsive" ng-click="openLBModal($index)" alt="CodeSchool Badge" />
            </figure>
            <div class="badge-dialog darkBG" ng-show="showB[$index]" ng-click="openLBModal  ($index)">
                <h4 class="badge-name badge-detail">{{badge.name|removeCompleted}}</h4>
                <h5 class="badge-issuer badge-detail">Issued by: <a ng-href="{{badge.criteria}}">{{badge.issuer.name}}</a></h5>
                <p class="badge-description badge-detail">{{badge.description}}</p>
            </div>
        </div>
    </div>
</div>