<div class="home-container">
    <header class="website-container about-header container-fluid">
        <div class="col-xs-12" style="color: #EEEFF7;">
            <h1 class="name-heading"><span class="small">I am</span><br>JACOB AMADOR</h1>
            <h2 class="lead-heading">I design human-computer interactions.</h2>
            <button ui-sref="webwork" type="button" class="btn btn-lg btn-block view-port">View My Portfolio</button>
        </div>
    </header>
    <div class="container about-body">
        <section class="row home-section" id="about-me">
            <div class="col-xs-offset-3 col-sm-offset-4 col-xs-6 col-sm-4 jacob-head" id="my-face" ng-include="'partials/jacob_svg.html'"></div>
            <div class="col-xs-12 col-sm-6">
                <h3>What I'm Doing</h3>
                <p>I am currently a Designer and Developer at First Creative, a web marketing agency in Houston, Texas. I exercise my knowledge of UX and Front End coding to make clients happy. I am constantly gaining new skills and abilities that I apply to future projects.</p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h3>Where I'm Headed</h3>
                <p>My true passion is in designing non-traditional interfaces. My ideal role would be with a company who is interested in creating the future of interfaces. I like being involved in the process of identifying, researching, and solving user needs.</p>
            </div>
        </section>
        <section class="row home-section" id="learning" ng-include="'partials/about-learning.html'"></section>
        <section class="row home-section" id="art" ng-include="'partials/about-art.html'"></section>
    </div>
</div>