<footer class="footer">
    <div class="container">
        <ul class="footer-nav">
            <li><a ui-sref="about" class="about-nav">Home</a></li>
            <li><a ui-sref="webwork" class="portfolio-nav">Portfolio</a></li>
        </ul>
        <ul class="footer-links">
            <li><a href="mailto:93jcbo@gmail.com" title="93jcbo@gmail.com" target="_blank">Email</a></li>
            <li><a href="dls/Amador-Jacob-Resume.pdf" title="resume.pdf" target="_blank">Resume</a></li>
            <li class="socialico-li"><a class="in-sprite socialico" href="http://www.linkedin.com/in/jcboa/" title="linkedin/jcboa" target="_blank"></a></li>
            <li class="socialico-li"><a class="ig-sprite socialico" href="http://instagram.com/93jcbo" title="instagram/93jcbo" target="_blank"></a></li>
        </ul>
    </div>
</footer>