<div class="navhead clearfix">
    <div class="inner">
        <span class="navhead-brand name-brand"><a ui-sref="about">93JCBO</a></span>
        <nav>
            <ul class="nav navhead-nav">
                <li><a ui-sref="about" ui-sref-active="active" class="about-nav">HOME</a></li>
                <li><a ui-sref="webwork" class="portfolio-nav" ng-class="{active:isWebsite}">PORTFOLIO</a></li>
                <!--<li><a ui-sref="artwork" ui-sref-active="active" class="art-nav">Art</a></li>-->
            </ul>
        </nav>
    </div>
</div>